#loading-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* top: 0px; */
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa;
    opacity: 0.7;
}

#loading-container > img {
    width: 40px;
    height: 40px;
}